/RUNNING_PID
/logs/
/project/*-shim.sbt
project/project/
target/
/data/
/tmp/
.idea
.vscode/
.sbtserver
/project/.sbtserver.lock
.metals
.bloop
.DS_Store
deploy/format-parser-assembly-1.0.0.jar
~*
doc/build
.gitlab-ci.yml
_checkpoint/
FULL-*
venv
